body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(97, 78, 78);
    margin-left: 20px;
    margin-right: 20px;
}

.lobby-header {
    height: 400px;
    background-image: url(hotelllobby.webp);
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
    border-bottom: 20px solid rgba(9, 29, 48, 0.913);

}

.menu-1 ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
    font-size: large;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;

}

.menu-1 a:visited,
a:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu-1 a:hover {
    color: rgb(8, 30, 50);
}

.hamburger {
    display: none;
    font-size: 32px;
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}

.container-1 {
    display: flex;
    align-items: center;
    background-color: rgb(68, 50, 50);
    border-bottom: 10px solid rgb(8, 30, 50);
    color: white;
    gap: 30px;
}

.item-1,
.item-2 {
    flex: 1;
}

.item-1 {
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 5px;

}

.item-1 h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    margin-top: 0.5px
}

.item-1 p {
    font-size: 1rem;
    line-height: 25px;
    margin-top: 5px;
    text-align: left;
}

.item-2 img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-right: 30px;

}

.container-2 {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(114, 91, 91);
    padding-top: 40px;
}

.info ul {
    font-size: 1rem;
    line-height: 50px;
    text-align: justify;

}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 50px;
}

.grid-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    padding-top: 40px;
    padding-bottom: 50px;

}

.container-two-box {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(68, 50, 50);
    border-bottom: 10px solid rgb(8, 30, 50);
    gap: 25px;
}

.textbox,
.img-box {
    width: 300px;
    padding: 10px;
    text-align: center;
}

.textbox h1 {
    color: rgb(254, 254, 254);
    padding-top: 20px;
    gap: 20px;
}

.textbox p {
    color: rgb(255, 255, 255);
    padding-top: 20px;
    text-align: justify;
    gap: 20px;

}

.img-box img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 10px;
    gap: 10px;
}


.box-log-in {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 25px;
    gap: 50px;
    background-color: rgb(68, 50, 50);
    border-bottom: 10px solid rgb(8, 30, 50);
}

.box-log-in form {
    width: 250px;
    flex-direction: column;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.box-log-in {
    color: rgb(255, 255, 255);
}


.booking {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

.booking form {
    display: inline;
    gap: 20px;
    padding: 20px;
    color: rgb(255, 255, 255);
}

.skybar-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
    margin-bottom: 50px;
}

.skybar-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    padding-top: 40px;
    padding-bottom: 50px;
}

.site-footer {
    padding-top: 40px;
    padding: 10px;

}

@media (max-width: 768px) {

    .menu-1 ul {
        display: none;
        flex-direction: column;
        background-color: rgb(68, 50, 50);
        padding: 10px 0;
    }

    .menu-1 ul.open {
        display: flex;
    }

    .menu-1 li {

        padding: 10px 0;
    }

    .menu-1 a {
        display: block;
        padding: 10px 20px;
        text-align: center;
    }

    .hamburger {
        display: block;
    }

}

@media (max-width: 768px) {

    .container-1 {
        flex-direction: column;
        padding: 20px;
    }

    .item-1,
    .item-2 {
        flex: 1 1 100%;
    }

    .item-2 img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    body {
        margin-left: 0;
        margin-right: 0;
    }
}